{% extends "../layout/base_layout.twig" %}

{% set page_name = 'Номера' %}

{% block content %}


	<div class="container mx-auto md:px-4 px-0 md:mt-16 mt-0 ">
		<div>
			<div class="flex md:flex-col flex-col-reverse">
				<div class="w-full flex  sm:items-center items-start sm:gap-[10px] gap-[32px] justify-between flex-col sm:flex-row md:px-0 px-4 mb-[32px] md:mb-0">
					<div>
						<span class="text-[16px] leading-[19px]">Комфортабельный отель</span>
						<h1 class="text-[28px] leading-[33px] font-semibold">De Art 13 Новокосино</h1>
					</div>
					<div class="w-full mb-[32px] md:mb-0 sm:w-auto flex items-center gap-[24px] sm:justify-start justify-between">
						<div class="flex items-center gap-[8px]">
							<span class="text-[14px] leading-[16px] font-semibold">Рейтинг</span>
							<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10 14.1667L5 16.6667L6.25 11.6667L2.5 7.5L7.91667 7.08333L10 2.5L12.0833 7.08333L17.5 7.5L13.75 11.6667L15 16.6667L10 14.1667Z" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							<p class="text-[14px] leading-[16px]">
								<span class="font-semibold">9.5</span>
								(14)</p>
						</div>
						<div class="flex items-center gap-[8px] bg-[#12BF2D] rounded-md py-[6px] px-[12px] text-white text-[14px] leading-[16px]">
							<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M15 4.5C15 4.78 15.22 5 15.5 5C15.78 5 16 4.78 16 4.5V3H17.5C17.78 3 18 2.78 18 2.5C18 2.22 17.78 2 17.5 2H16V0.5C16 0.22 15.78 0 15.5 0C15.22 0 15 0.22 15 0.5V2H13.5C13.22 2 13 2.22 13 2.5C13 2.78 13.22 3 13.5 3H15V4.5ZM6.08 13.38L6.29 14H3.04C2.08 12.94 1.5 11.54 1.5 10C1.5 6.69003 4.19 4.03003 7.5 4.03003C10.81 4.03003 13.5 6.72003 13.5 10.03C13.5 11.57 12.91 12.97 11.96 14.03H7.34L7.03 13.09L8.45 12.62C8.72 12.53 8.86 12.25 8.77 11.99C8.68 11.72 8.4 11.58 8.14 11.67L6.72 12.14L6.4 11.19L8.77 10.4C9.41 10.19 9.92 9.75003 10.22 9.15003C10.52 8.55003 10.57 7.87003 10.36 7.24003C10.15 6.60003 9.71 6.09003 9.11 5.79003C8.51 5.49003 7.83 5.44003 7.2 5.65003L4.35 6.60003C4.08 6.69003 3.94 6.97003 4.03 7.23003L5.14 10.55L4.67 10.71C4.4 10.8 4.26 11.08 4.35 11.34C4.42 11.55 4.61 11.68 4.82 11.68C4.87 11.68 4.93 11.67 4.98 11.65L5.45 11.49L5.77 12.44L5.3 12.6C5.03 12.69 4.89 12.97 4.98 13.23C5.05 13.44 5.24 13.57 5.45 13.57C5.5 13.57 5.56 13.56 5.61 13.54L6.08 13.38ZM9.32 8.67003C9.5 8.31003 9.53 7.90003 9.4 7.52003C9.27 7.14003 9.01 6.83003 8.65 6.65003C8.29 6.47003 7.89 6.44003 7.51 6.57003L5.14 7.36003L6.09 10.21L8.46 9.42003C8.84 9.29003 9.15 9.03003 9.33 8.67003H9.32ZM15 17C15 17.55 14.55 18 14 18H1C0.45 18 0 17.55 0 17C0 16.45 0.45 16 1 16H14C14.55 16 15 16.45 15 17Z" fill="white"/>
							</svg>
							Кешбэк
						</d>
					</div>
				</div>
			</div>

			<div class="flex items-start md:flex-row flex-col-reverse gap-[32px] md:mt-[56px] mt-0 md:mb-[64px] mb-[48px] w-full">
				<div class="sm:block hidden md:w-[30%] w-full">
					<p class="text-[14px] leading-[16px] mb-[14px]">Отель De Art 13 Новокосино расположен недалеко от таких достопримечательностей российской столицы:</p>
					<ul class="text-[14px] leading-[16px] mb-[14px]">
						<li>
							— Народный парк;
						</li>
						<li>— Салтыковский лесопарк;</li>
						<li>— Косинский парк.</li>
					</ul>
					<p class="text-[14px] leading-[16px] mb-[14px]">
						Расположение в тихом и зеленом районе города понравится тем, кто предпочитает уютный отдых и прогулки на свежем воздухе шуму мегаполиса. В отёле большой выбор номеров на любой вкус и бюджет: есть стандартные, улучшенные номера с интерьером в различных цветах, свадебный делюкс и несколько люксов, делюксов с роскошным интерьером на выбор.</p>
					<p class="text-[14px] leading-[16px] mb-[14px]">Заселиться возможно как на час или несколько, так и посуточно. Бронирование можно осуществить по телефону или через интернет. В отёле отменный сервис, есть кальянная, лобби-бар и возможность заказать еду и напитки в номер.
					</p>
					<p class="text-[14px] leading-[16px]">
						Снять апартаменты можно почасово или длительно. Комфорт, демократичные цены, великолепный сервис, элегантный интерьер, шаговая доступность к паркам и зелёным зонам, метро — это то, за что гости и жители Москвы выбирают отель De Art 13 Новокосино.
					</p>
				</div>
				<div class="md:w-[70%] w-full overflow-hidden">
					<div class="overflow-hidden">
						<div data="tab-content-hotel-card" class="block">
							<div class="swiper-image relative h-[416px] md:rounded-[24px] rounded-none overflow-hidden">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img class="w-full h-full object-cover" src="/src/img/content/apartments/1.png" alt="img">
									</div>
									<div class="swiper-slide">
										<img class="w-full h-full object-cover" src="/src/img/content/apartments/1.png" alt="img">
									</div>
									<div class="swiper-slide">
										<img class="w-full h-full object-cover" src="/src/img/content/apartments/1.png" alt="img">
									</div>
									<div class="swiper-slide">
										<img class="w-full h-full object-cover" src="/src/img/content/apartments/1.png" alt="img">
									</div>
								</div>
								<div class="swiper-pagination abosolute left-[50%] transform translate-[50%] bottom-[16px]"></div>
							</div>
						</div>
						<div data="tab-content-hotel-card" class="hidden min-h-[416px] rounded-[24px] overflow-hidden">
							<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa977f116b804c594729f48167bc2bee20e9fcd715407d8123b60f1860b7bca7b&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
						</div>
						<div data="tab-content-hotel-card" class="hidden overflow-hidden">
							<div class="min-h-[416px] rounded-[24px] overflow-hidden bg-[#6170FF] py-[41px] sm:px-[20px] px-[10px]">
								<div class="swiper-feed-wrapper relative overflow-hidden w-full h-[100%]">
									<div class="swiper-feed-button-prev absolute top-[50%] transform translate-1/2 left-0 w-[32px] h-[32px] bg-white rounded-[8px] sm:flex hidden  items-center justify-center">
										<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M12.084 5.75037L7.91732 9.91703L12.084 14.0837" stroke="#515561" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</div>
									<div class="swiper-feed overflow-hidden sm:mx-[52px] mx-0 h-[100%]">
										<div class="swiper-wrapper h-[100%]">
											<div class="swiper-slide">
												<div class="bg-white p-[24px] rounded-[24px]">
													<div class="flex items-center justify-between py-[6px] mb-[24px]">
														<div class="flex items-center gap-[8px]">
															<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M10 14.1667L5 16.6667L6.25 11.6667L2.5 7.5L7.91667 7.08333L10 2.5L12.0833 7.08333L17.5 7.5L13.75 11.6667L15 16.6667L10 14.1667Z" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
															<span class="text-[14px] leading-[16px] font-semibold">10</span>
														</div>
														<span class="text-[16px] leading-[19px] font-semibold">Полина</span>
														<span class="text-[12px] leading-[14px]">20 июня 2022</span>
													</div>
													<p class="text-[14px] leading-[16px] mb-[24px]">Прекрасный отель! Рекомендую! Попросили найти друзья проверенное хорошее место для встреч. Пошли по рекомендации моих друзей. Отличный админ МАРИНА, понравился номер делюкс.</p>
													<div class="grid grid-cols-2 gap-x-[24px] gap-[16px]">
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Расположение</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Персонал</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Чистота</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">WI-FI</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Комфорт</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Цена</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="bg-white p-[24px] rounded-[24px]">
													<div class="flex items-center justify-between py-[6px] mb-[24px]">
														<div class="flex items-center gap-[8px]">
															<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M10 14.1667L5 16.6667L6.25 11.6667L2.5 7.5L7.91667 7.08333L10 2.5L12.0833 7.08333L17.5 7.5L13.75 11.6667L15 16.6667L10 14.1667Z" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
															<span class="text-[14px] leading-[16px] font-semibold">9,5</span>
														</div>
														<span class="text-[16px] leading-[19px] font-semibold">Виктор</span>
														<span class="text-[12px] leading-[14px]">2 июля 2022</span>
													</div>
													<p class="text-[14px] leading-[16px] mb-[24px]">Все отлично. Достойное место для отдыха. Рекомендую</p>
													<div class="grid grid-cols-2 gap-x-[24px] gap-[16px]">
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Расположение</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Персонал</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Чистота</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">WI-FI</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Комфорт</span>
																<span class="text-[12px] leading-[14px]">9</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[90%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Цена</span>
																<span class="text-[12px] leading-[14px]">9</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[90%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="bg-white p-[24px] rounded-[24px]">
													<div class="flex items-center justify-between py-[6px] mb-[24px]">
														<div class="flex items-center gap-[8px]">
															<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M10 14.1667L5 16.6667L6.25 11.6667L2.5 7.5L7.91667 7.08333L10 2.5L12.0833 7.08333L17.5 7.5L13.75 11.6667L15 16.6667L10 14.1667Z" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
															<span class="text-[14px] leading-[16px] font-semibold">10</span>
														</div>
														<span class="text-[16px] leading-[19px] font-semibold">Полина</span>
														<span class="text-[12px] leading-[14px]">20 июня 2022</span>
													</div>
													<p class="text-[14px] leading-[16px] mb-[24px]">Прекрасный отель! Рекомендую! Попросили найти друзья проверенное хорошее место для встреч. Пошли по рекомендации моих друзей. Отличный админ МАРИНА, понравился номер делюкс.</p>
													<div class="grid grid-cols-2 gap-x-[24px] gap-[16px]">
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Расположение</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Персонал</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Чистота</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">WI-FI</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Комфорт</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Цена</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="bg-white p-[24px] rounded-[24px]">
													<div class="flex items-center justify-between py-[6px] mb-[24px]">
														<div class="flex items-center gap-[8px]">
															<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M10 14.1667L5 16.6667L6.25 11.6667L2.5 7.5L7.91667 7.08333L10 2.5L12.0833 7.08333L17.5 7.5L13.75 11.6667L15 16.6667L10 14.1667Z" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
															<span class="text-[14px] leading-[16px] font-semibold">9,5</span>
														</div>
														<span class="text-[16px] leading-[19px] font-semibold">Виктор</span>
														<span class="text-[12px] leading-[14px]">2 июля 2022</span>
													</div>
													<p class="text-[14px] leading-[16px] mb-[24px]">Все отлично. Достойное место для отдыха. Рекомендую</p>
													<div class="grid grid-cols-2 gap-x-[24px] gap-[16px]">
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Расположение</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Персонал</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Чистота</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">WI-FI</span>
																<span class="text-[12px] leading-[14px]">10</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[100%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Комфорт</span>
																<span class="text-[12px] leading-[14px]">9</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[90%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
														<div>
															<div class="flex items-center justify-between mb-[8px]">
																<span class="text-[12px] leading-[14px]">Цена</span>
																<span class="text-[12px] leading-[14px]">9</span>
															</div>
															<div class="w-full h-[4px] bg-[#EAEFFD] rounded-[2px] overflow-hidden">
																<div class="w-[90%] h-full bg-[#6170FF] rounded-[2px]"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="swiper-feed-button-next absolute top-[50%] transform translate-1/2 right-0 w-[32px] h-[32px] bg-white rounded-[8px] sm:flex hidden items-center justify-center">
										<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M7.91602 14.2496L12.0827 10.083L7.91602 5.9163" stroke="#515561" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="w-full flex justify-center">
						<div class="grid grid-cols-3 md:gap-[16px] gap-[4px]">
							<div class="grow flex-shrink-0">
								<div data="tab-el-hotel-card" class=" grow flex-shrink-0 bg-[#6170FF] flex items-center justify-between">
									<div class="w-[45%] bg-[#EAEFFD] rounded-tr-[8px] rounded-br-[8px] h-[16px]"></div>
									<div class="w-[45%] bg-[#EAEFFD] rounded-tl-[8px] rounded-bl-[8px] h-[16px]"></div>
								</div>
								<button data="tab-hotel-card" class="bg-[#6170FF] text-white text-[16px] leading-[19px] w-full md:px-[17px] px-[3px] flex-shrink-0  h-[48px] bg-white rounded-[8px]">Фотогалерея</button>
							</div>
							<div class="grow flex-shrink-0">
								<div data="tab-el-hotel-card" class="grow flex-shrink-0 flex items-center justify-between">
									<div class="w-[45%] bg-[#EAEFFD] rounded-tr-[8px] rounded-br-[8px] h-[16px]"></div>
									<div class="w-[45%] bg-[#EAEFFD] rounded-tl-[8px] rounded-bl-[8px] h-[16px]"></div>
								</div>
								<button data="tab-hotel-card" class="text-[16px] leading-[19px] w-full  md:px-[17px] px-[3px] flex-shrink-0 bg-white h-[48px] rounded-[8px]">На карте</button>
							</div>
							<div class="grow flex-shrink-0">
								<div data="tab-el-hotel-card" class="grow flex-shrink-0 flex items-center justify-between">
									<div class="w-[45%] bg-[#EAEFFD] rounded-tr-[8px] rounded-br-[8px] h-[16px]"></div>
									<div class="w-[45%] bg-[#EAEFFD] rounded-tl-[8px] rounded-bl-[8px] h-[16px]"></div>
								</div>
								<button data="tab-hotel-card" class="text-[16px] leading-[19px] w-full  md:px-[17px] px-[3px] flex-shrink-0 bg-white h-[48px] rounded-[8px]">Отзывы</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="grid md:grid-cols-3 grid-cols-1 items-start sm:gap-[30px] gap-[32px] md:px-0 px-4">
			<div class="md:pt-[24px] pt-0">
				<p class="text-[22px] leading-[26px] font-semibold mb-[16px]">Детально об отеле</p>
				<div class="flex flex-wrap gap-[16px]">
					<div class="py-[8px] px-[12px] border border-solid border-[#6170FF] rounded-[8px] text-[14px] leading-[16px]">Услуги прачечной</div>
					<div class="py-[8px] px-[12px] border border-solid border-[#6170FF] rounded-[8px] text-[14px] leading-[16px]">Оплата картой</div>
					<div class="py-[8px] px-[12px] border border-solid border-[#6170FF] rounded-[8px] text-[14px] leading-[16px]">Wi-Fi</div>
					<div class="py-[8px] px-[12px] border border-solid border-[#6170FF] rounded-[8px] text-[14px] leading-[16px]">10 минут до метро</div>
					<div class="py-[8px] px-[12px] border border-solid border-[#6170FF] rounded-[8px] text-[14px] leading-[16px]">Доставка еды</div>
					<div class="py-[8px] px-[12px] border border-solid border-[#6170FF] rounded-[8px] text-[14px] leading-[16px]">Кухня</div>
					<div class="py-[8px] px-[12px] border border-solid border-[#6170FF] rounded-[8px] text-[14px] leading-[16px]">Круглосуточная регистрация</div>
					<div class="py-[8px] px-[12px] border border-solid border-[#6170FF] rounded-[8px] text-[14px] leading-[16px]">Бассейн</div>
					<div class="py-[8px] px-[12px] border border-solid border-[#6170FF] rounded-[8px] text-[14px] leading-[16px]">Городская парковка</div>
				</div>
			</div>
			<div class="sm:bg-white bg-transparent sm:p-[24px] p-0 rounded-[24px] row-start-1 md:col-start-2">
				<p class="text-[22px] leading-[26px] font-semibold lg:mb-[24px] mb-[16px]">Расположение</p>
				<div class="flex flex-col gap-[8px]">
					<div class="flex gap-[8px]">
						<div class="w-[20px] flex-shrink-0">
							<svg width="20" height="16" viewbox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10.4372 14.3568C13.3835 12.8545 15.6829 10.3665 15.6829 7.34147C15.6829 4.11531 13.0676 1.5 9.84146 1.5C6.61531 1.5 4 4.11531 4 7.34147C4 10.3665 6.29941 12.8545 9.24571 14.3568C9.62007 14.5477 10.0629 14.5477 10.4372 14.3568Z" stroke="#6171FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M12.0315 7.34137C12.0315 8.55121 11.0508 9.53192 9.84094 9.53192C8.6311 9.53192 7.65039 8.55121 7.65039 7.34137C7.65039 6.13156 8.6311 5.15082 9.84094 5.15082C11.0508 5.15082 12.0315 6.13156 12.0315 7.34137Z" stroke="#6171FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>
						<p class="text-[14px] leading-[16px]">Москва, ВАО, Косино-Ухтомский район, ул. Наташи Качуевской, д.4</p>
					</div>
					<div class="flex gap-[8px]">
						<div class="w-[20px] flex-shrink-0">
							<svg width="20" height="16" viewbox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.2341 12.231H16.3395L12.6232 3H12.6201L10.117 8.22059L7.6201 3H7.61703L3.89461 12.231H3V13H8.12561V12.231H7.10846L8.29412 9.30208L10.117 13L11.9461 9.30208L13.1256 12.231H12.1085V13H17.2341V12.231Z" fill="#F771AE"/>
							</svg>
						</div>
						<p class="text-[14px] leading-[16px]">Улица Дмитриевского
						</p>
						<div class="w-[20px] flex-shrink-0">
							<svg width="20" height="16" viewbox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
							</svg>
						</div>
						<p class="text-[14px] leading-[16px]">4 мин</p>
					</div>
					<div class="flex gap-[8px]">
						<div class="w-[20px] flex-shrink-0">
							<svg width="20" height="16" viewbox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.2341 12.231H16.3395L12.6232 3H12.6201L10.117 8.22059L7.6201 3H7.61703L3.89461 12.231H3V13H8.12561V12.231H7.10846L8.29412 9.30208L10.117 13L11.9461 9.30208L13.1256 12.231H12.1085V13H17.2341V12.231Z" fill="#F771AE"/>
							</svg>
						</div>
						<p class="text-[14px] leading-[16px]">Лухмановская</p>
						<div class="w-[20px] flex-shrink-0">
							<svg width="20" height="16" viewbox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
							</svg>
						</div>
						<p class="text-[14px] leading-[16px]">13 мин</p>
					</div>
					<div class="flex gap-[8px]">
						<div class="w-[20px] flex-shrink-0">
							<svg width="20" height="16" viewbox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.2341 12.231H16.3395L12.6232 3H12.6201L10.117 8.22059L7.6201 3H7.61703L3.89461 12.231H3V13H8.12561V12.231H7.10846L8.29412 9.30208L10.117 13L11.9461 9.30208L13.1256 12.231H12.1085V13H17.2341V12.231Z" fill="#F771AE"/>
							</svg>
						</div>
						<p class="text-[14px] leading-[16px]">Жулебино</p>
						<div class="w-[20px] flex-shrink-0">
							<svg width="20" height="16" viewbox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
							</svg>
						</div>
						<p class="text-[14px] leading-[16px]">52 мин</p>
					</div>
				</div>
			</div>
			<div class="sm:bg-white bg-transparent sm:p-[24px] p-0 rounded-[24px]">
				<p class="text-[22px] leading-[26px] lg:mb-[24px] mb-[16px] font-semibold">Стоимость проживания</p>
				<div class="flex gap-[16px] items-center justify-between">
					<div class="border border-[#6170FF] border-solid rounded-[8px] py-[13px] px-[5px] grow sm:border-0 sm:py-[5px]">
						<p class="text-[16px] leading-[19px] font-semibold text-center">500 ₽/час</p>
						<p class="text-[14px] leading-[16px] text-center">От 2-х часов</p>
					</div>
					<div class="border border-[#6170FF] border-solid rounded-[8px] py-[13px] px-[5px] grow sm:border-0 sm:py-[5px]">
						<p class="text-[16px] leading-[19px] font-semibold text-center">3000 ₽/ночь</p>
						<p class="text-[14px] leading-[16px] text-center">С 22:00 до 10:00</p>
					</div>
					<div class="border border-[#6170FF] border-solid rounded-[8px] py-[13px] px-[5px] grow sm:border-0 sm:py-[5px]">
						<p class="text-[16px] leading-[19px] font-semibold text-center">4500 ₽/сутки</p>
						<p class="text-[14px] leading-[16px] text-center">С 14:00 до 12:00</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
	<script src="../../js/main.js"></script>
{% endblock %}
