{% extends "../layout/base_layout.twig" %}

{% set page_name = 'Ссылки' %}

{% block content %}
	
	<div class="container mx-auto py-16 px-4">
		<ul>
			<li>
				<a class="hover:text-orange-600" target="_blank" href="contact.html">Контакты</a>
			</li>
			<li>
				<a class="hover:text-orange-600" target="_blank" href="contact_v2.html">Контакты (Заполнено)</a>
			</li>
			<li>
				<a class="hover:text-orange-600" target="_blank" href="contact_v3.html">Контакты (Ошибка)</a>
			</li>
			<li>
				<a class="hover:text-orange-600" target="_blank" href="contact_v4.html">Контакты (Спасибо)</a>
			</li>
			<li>---</li>
			<li>
				<a class="hover:text-orange-600" target="_blank" href="apartments.html">Номера</a>
			</li>
			<li>
				<a class="hover:text-orange-600" target="_blank" href="hotels.html">Отели</a>
			</li>
			<li>
				<a class="hover:text-orange-600" target="_blank" href="main.html">Главная</a>
			</li>
			<li>
				<a class="hover:text-orange-600" target="_blank" href="hotel_card.html">Карточка отеля</a>
			</li>
			<li>
				<a class="hover:text-orange-600" target="_blank" href="intro.html">Интро</a>
			</li>

		</ul>
	</div>
	<!-- /.container -->

{% endblock %}
