{% extends "../layout/base_layout.twig" %}

{% set page_name = 'Главная' %}

{% block content %}


   <div class="filter-color h-32 xl:h-40 pt-4 -mb-20 xl:pt-8 mt-32">
     <div class="container mx-auto px-4">
        <div class="flex justify-between items-center">
           <h1 class="flex items-center text-white font-bold xl:text-3xl">
              <span class="mr-4">
                 <svg width="19" height="25" viewBox="0 0 19 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M14.4137 1.53682C14.6122 1.0402 14.2465 0.5 13.7116 0.5H4.78879C4.46337 0.5 4.17447 0.708227 4.07156 1.01696L0.0393761 13.1135C-0.123806 13.6031 0.240572 14.1086 0.75661 14.1086H4.78763C5.27949 14.1086 5.64039 14.5708 5.52109 15.0481L3.39381 23.5571C3.20784 24.301 4.11967 24.8172 4.66187 24.2751L18.074 10.8631C18.5503 10.3868 18.2129 9.5724 17.5393 9.5724H12.316C11.7812 9.5724 11.4154 9.0322 11.6141 8.53559L14.4137 1.53682Z" fill="white"/>
                  </svg>
              </span>
              <span>
                  Горящие предложения
              </span>
           </h1>
           <div class="xl:hidden">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M8.33301 23.0972V8.00195" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                 <path d="M22.9997 8.00042L22.9998 23.2861" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                 <path d="M2.99976 17.7639L8.33309 23.0972L13.6664 17.7639" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                 <path d="M28.3333 13.333L22.9999 7.99967L17.6666 13.333" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
           </div>
           <div class="hidden xl:flex items-center">
               <div class="flex items-center mr-8">
                  <div class="text-white text-sm mr-4">
                     Сортировка
                  </div>

                  <div class="flex items-center border border-white rounded-lg">
                     <div class="text-blue-500 bg-white h-8 pt-1 px-4 rounded-l-lg">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M5.83301 8L9.99967 12.1667L14.1663 8" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                     </div>
                     <div class="text-white h-8 pt-1 px-4 rounded-r-lg cursor-pointer">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M14.167 12L10.0003 7.83333L5.83366 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                     </div>
                  </div>


               </div>
               <div class="flex items-center text-sm">
                  <div class="mr-2">
                     <svg class="-mt-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17L6 20L7.5 14L3 9L9.5 8.5L12 3L14.5 8.5L21 9L16.5 14L18 20L12 17Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                  </div>
                  <div class="text-sm text-white text-sm mr-4">
                     Рейтинг
                  </div>
                  <div class="flex items-center border border-white rounded-lg">
                     <div class="text-blue-500 bg-white h-8 leading-8 px-4 rounded-l-lg">
                        Любой
                     </div>
                     <div class="text-white px-2 h-8 leading-8 px-4 border-r border-white cursor-pointer">
                        6+
                     </div>
                     <div class="text-white px-2 h-8 leading-8 px-4 border-r border-white cursor-pointer">
                        7+
                     </div>
                     <div class="text-white px-2 h-8 leading-8 px-4 border-r border-white cursor-pointer">
                        8+
                     </div>
                     <div class="text-white px-2 h-8 leading-8 px-4 rounded-r-lg cursor-pointer">
                        9+
                     </div>
                  </div>
               </div>
           </div>
        </div>
     </div>
   </div>

   <div class="container mx-auto px-4 relative z-10">
      <div class="my-4 xl:flex xl:items-center">
         <div class="relative mx-4 xl:mx-0 xl:w-1/2 h-60 xl:h-80 xl:overflow-hidden xl:rounded-bl-2xl xl:rounded-tl-2xl">
            <div class="h-full">
               <img class="w-full object-cover xl:w-full h-60 xl:h-80 rounded-tl-2xl rounded-tr-2xl xl:rounded-tr-none xl:rounded-bl-2xl overflow-hidden" src="/src/img/content/apartments/1.png" alt="img">
            </div>
            <div class="absolute bottom-0 left-0 right-0">
               <div class="pb-4 flex justify-center items-center">
                  <div class="w-8 h-0.5	bg-white mr-1 rounded"></div>
                  <div class="w-8 h-0.5	bg-blue-500 mr-1 rounded cursor-pointer	"></div>
                  <div class="w-8 h-0.5	bg-blue-500 mr-1 rounded cursor-pointer	"></div>
                  <div class="w-8 h-0.5	bg-blue-500 mr-1 rounded cursor-pointer	"></div>
               </div>
            </div>
         </div>
         <div class="bg-white rounded-2xl p-5 shadow-xl	relative z-10 xl:w-1/3 xl:pt-12 xl:h-96">
            <div class="flex mb-4">
               <div class="flex text-sm py-1 px-2 rounded-md bg-sky-100	mr-2">
                  <div class="mr-2">
                     <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 14.1667L5 16.6667L6.25 11.6667L2.5 7.5L7.91667 7.08333L10 2.5L12.0833 7.08333L17.5 7.5L13.75 11.6667L15 16.6667L10 14.1667Z" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                  </div>
                  <div>
                     <b>9.5</b> (14)
                  </div>
               </div>
               <div class="flex py-1 px-2 rounded-md bg-sky-100">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M10 16.6667C10 16.6667 17.5 13.3334 17.5 8.09508C17.5 5.00004 15.804 3.33337 13.7119 3.33337C12.7072 3.33337 11.7437 3.74726 11.0333 4.48397L10.5998 4.93351C10.2722 5.27336 9.72783 5.27336 9.40017 4.93351L8.96667 4.48397C8.25624 3.74726 7.29273 3.33337 6.28807 3.33337C4.16667 3.33337 2.5 5.00004 2.5 8.09508C2.5 13.3334 10 16.6667 10 16.6667Z" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
               </div>
               <div class="ml-auto flex py-1 px-2 rounded-md text-white bg-green-500 text-sm">
                  <div>
                     <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_3419)">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M17 4.5C17 4.78 17.22 5 17.5 5C17.78 5 18 4.78 18 4.5V3H19.5C19.78 3 20 2.78 20 2.5C20 2.22 19.78 2 19.5 2H18V0.5C18 0.22 17.78 0 17.5 0C17.22 0 17 0.22 17 0.5V2H15.5C15.22 2 15 2.22 15 2.5C15 2.78 15.22 3 15.5 3H17V4.5ZM8.08 13.38L8.29 14H5.04C4.08 12.94 3.5 11.54 3.5 10C3.5 6.69003 6.19 4.03003 9.5 4.03003C12.81 4.03003 15.5 6.72003 15.5 10.03C15.5 11.57 14.91 12.97 13.96 14.03H9.34L9.03 13.09L10.45 12.62C10.72 12.53 10.86 12.25 10.77 11.99C10.68 11.72 10.4 11.58 10.14 11.67L8.72 12.14L8.4 11.19L10.77 10.4C11.41 10.19 11.92 9.75003 12.22 9.15003C12.52 8.55003 12.57 7.87003 12.36 7.24003C12.15 6.60003 11.71 6.09003 11.11 5.79003C10.51 5.49003 9.83 5.44003 9.2 5.65003L6.35 6.60003C6.08 6.69003 5.94 6.97003 6.03 7.23003L7.14 10.55L6.67 10.71C6.4 10.8 6.26 11.08 6.35 11.34C6.42 11.55 6.61 11.68 6.82 11.68C6.87 11.68 6.93 11.67 6.98 11.65L7.45 11.49L7.77 12.44L7.3 12.6C7.03 12.69 6.89 12.97 6.98 13.23C7.05 13.44 7.24 13.57 7.45 13.57C7.5 13.57 7.56 13.56 7.61 13.54L8.08 13.38ZM11.32 8.67003C11.5 8.31003 11.53 7.90003 11.4 7.52003C11.27 7.14003 11.01 6.83003 10.65 6.65003C10.29 6.47003 9.89 6.44003 9.51 6.57003L7.14 7.36003L8.09 10.21L10.46 9.42003C10.84 9.29003 11.15 9.03003 11.33 8.67003H11.32ZM17 17C17 17.55 16.55 18 16 18H3C2.45 18 2 17.55 2 17C2 16.45 2.45 16 3 16H16C16.55 16 17 16.45 17 17Z" fill="white"/>
                        </g>
                        <defs>
                           <clipPath id="clip0_1_3419">
                              <rect width="20" height="20" fill="white"/>
                           </clipPath>
                        </defs>
                     </svg>
                  </div>
                  <div class="ml-1">
                     Кешбэк
                  </div>
               </div>
            </div>
            <div class="mb-6">
               <div class="font-bold text-xl leading-6	">
                  13 / Свадебный Delux (Делюкс)
               </div>
               <div class="text-sm leading-4	">
                  Отель <b>De Art 13 Новокосино</b>
               </div>
            </div>
            <div class="flex flex-wrap items-center text-xs mb-4">
               <div>Большой телевизор </div>
               <svg class="mx-2" width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="2" cy="2" r="2" fill="#515561"/>
               </svg>
               <div>Круглая кровать</div>
               <svg class="mx-2" width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="2" cy="2" r="2" fill="#515561"/>
               </svg>
               <div>Джакузи</div>
            </div>
            <div>
               <div class="flex mb-2">
                  <div class="pt-1 mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.4372 14.3568C13.3835 12.8545 15.6829 10.3665 15.6829 7.34147C15.6829 4.11531 13.0676 1.5 9.84146 1.5C6.61531 1.5 4 4.11531 4 7.34147C4 10.3665 6.29941 12.8545 9.24571 14.3568C9.62007 14.5477 10.0629 14.5477 10.4372 14.3568Z" stroke="#6171FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.032 7.34131C12.032 8.55115 11.0513 9.53186 9.84143 9.53186C8.63159 9.53186 7.65088 8.55115 7.65088 7.34131C7.65088 6.1315 8.63159 5.15076 9.84143 5.15076C11.0513 5.15076 12.032 6.1315 12.032 7.34131Z" stroke="#6171FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                  </div>
                  <div class="leading-tight	text-sm">
                     Москва, ВАО, Косино-Ухтомский район,<br>
                     ул. Наташи Качуевской, д.4
                  </div>
               </div>
               <div class="flex mb-2">
                  <div class="flex mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2343 12.231H16.3397L12.6234 3H12.6203L10.1173 8.22059L7.62034 3H7.61728L3.89485 12.231H3.00024V13H8.12586V12.231H7.1087L8.29436 9.30208L10.1173 13L11.9463 9.30208L13.1259 12.231H12.1087V13H17.2343V12.231Z" fill="#F771AE"/>
                     </svg>
                  </div>
                  <div class="flex leading-tight	text-sm">
                     Улица Дмитриевского
                     <span class="px-2">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
                        </svg>
                     </span>
                     4 мин
                  </div>
               </div>
               <div class="flex mb-2">
                  <div class="flex mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2343 12.231H16.3397L12.6234 3H12.6203L10.1173 8.22059L7.62034 3H7.61728L3.89485 12.231H3.00024V13H8.12586V12.231H7.1087L8.29436 9.30208L10.1173 13L11.9463 9.30208L13.1259 12.231H12.1087V13H17.2343V12.231Z" fill="#F771AE"/>
                     </svg>
                  </div>
                  <div class="flex leading-tight	text-sm">
                     Лухмановская
                     <span class="px-2">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
                        </svg>
                     </span>
                     13 мин
                  </div>
               </div>
               <div class="flex mb-2">
                  <div class="flex mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2343 12.231H16.3397L12.6234 3H12.6203L10.1173 8.22059L7.62034 3H7.61728L3.89485 12.231H3.00024V13H8.12586V12.231H7.1087L8.29436 9.30208L10.1173 13L11.9463 9.30208L13.1259 12.231H12.1087V13H17.2343V12.231Z" fill="#BA2C8E"/>
                     </svg>
                  </div>
                  <div class="flex leading-tight	text-sm">
                     Жулебино
                     <span class="px-2">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
                        </svg>
                     </span>
                     52 мин
                  </div>
               </div>
            </div>
         </div>
         <div class="relative bg-white rounded-bl-2xl rounded-br-2xl xl:rounded-bl-none xl:rounded-tr-2xl px-4 pb-4 pt-8 mx-4 xl:mx-0 xl:w-1/6 xl:h-80 xl:pb-16 xl:flex xl:items-left xl:justify-items-start xl:justify-start	">
            <div class="flex justify-between text-center xl:flex-col xl:text-left xl:m-auto xl:w-full xl:ml-8">
               <div class="xl:mb-2">
                  <div class="text-sm xs:text-base font-bold">
                     500 ₽/час
                  </div>
                  <div class="text-xs xs:text-sm">
                     От 2х часов
                  </div>
               </div>
               <div class="xl:mb-2">
                  <div class="text-sm xs:text-base font-bold">
                     3000 ₽/ночь
                  </div>
                  <div class="text-xs xs:text-sm">
                     22:00 - 10:00
                  </div>
               </div>
               <div class="xl:mb-2">
                  <div class="font-bold text-sm xs:text-base flex items-center absolute xl:static top-2 pl-4 xl:pl-0">
                     <div class="mr-2">
                        <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M7.9437 1.45801C8.05312 1.18431 7.85153 0.886597 7.55678 0.886597H2.63921C2.45986 0.886597 2.30064 1.00135 2.24393 1.1715L0.021701 7.83818C-0.0682323 8.10801 0.132584 8.3866 0.416984 8.3866H2.63857C2.90964 8.3866 3.10854 8.64135 3.04279 8.90435L1.8704 13.5938C1.76791 14.0038 2.27044 14.2883 2.56926 13.9896L9.96095 6.59793C10.2235 6.33543 10.0375 5.8866 9.66628 5.8866H6.78762C6.49287 5.8866 6.29128 5.58888 6.40078 5.31519L7.9437 1.45801Z" fill="#E1183D"/>
                        </svg>
                     </div>
                     <div class="text-red-700">
                        3500 ₽
                     </div>
                  </div>
                  <div class="text-sm xs:text-base font-bold">
                     <span class="line-through	">4500</span> ₽/сутки
                  </div>
                  <div class="text-xs xs:text-sm">
                     14:00 - 12:00
                  </div>
               </div>
            </div>
            <div class="xl:absolute xl:bottom-4 xl:left-4 xl:right-4">
               <button class="w-full h-12 text-center bg-blue-500 text-white rounded-md mt-3 hover:bg-blue-800">
                  Забронировать
               </button>
            </div>
         </div>
      </div>
      <div class="my-4 xl:flex xl:items-center">
         <div class="relative mx-4 xl:mx-0 xl:w-1/2 h-60 xl:h-80 xl:overflow-hidden xl:rounded-bl-2xl xl:rounded-tl-2xl">
            <div class="h-full w-full">
               <img class="w-full object-cover w xl:w-full h-60 xl:h-80 rounded-tl-2xl rounded-tr-2xl xl:rounded-tr-none xl:rounded-bl-2xl overflow-hidden" src="/src/img/content/apartments/1.png" alt="img">
            </div>
            <div class="absolute bottom-0 left-0 right-0 z-20">
               <div class="pb-4 flex justify-center items-center">
                  <div class="w-8 h-0.5	bg-white mr-1 rounded"></div>
                  <div class="w-8 h-0.5	bg-blue-500 mr-1 rounded cursor-pointer	"></div>
                  <div class="w-8 h-0.5	bg-blue-500 mr-1 rounded cursor-pointer	"></div>
                  <div class="w-8 h-0.5	bg-blue-500 mr-1 rounded cursor-pointer	"></div>
               </div>
            </div>
            <div class="absolute top-0 bottom-0 left-0 right-0 z-30 items-center justify-between px-6 hidden xl:flex">
               <div class="cursor-pointer">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <rect y="-6.10352e-05" width="32" height="31.1847" rx="8" fill="white"/>
                     <path d="M17.0835 11.4505L12.9168 15.511L17.0835 19.5715" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
               </div>
               <div class="cursor-pointer">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <rect x="32" y="32.0001" width="32" height="31.1847" rx="8" transform="rotate(-180 32 32.0001)" fill="#6170FF"/>
                     <path d="M14.9165 20.5495L19.0832 16.489L14.9165 12.4285" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
               </div>
            </div>
         </div>
         <div class="bg-white rounded-2xl p-5 shadow-xl	relative z-10 xl:w-1/3 xl:pt-12 xl:h-96">
            <div class="flex mb-4">
               <div class="flex text-sm py-1 px-2 rounded-md bg-sky-100	mr-2">
                  <div class="mr-2">
                     <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 14.1667L5 16.6667L6.25 11.6667L2.5 7.5L7.91667 7.08333L10 2.5L12.0833 7.08333L17.5 7.5L13.75 11.6667L15 16.6667L10 14.1667Z" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                  </div>
                  <div>
                     <b>9.5</b> (14)
                  </div>
               </div>
               <div class="flex py-1 px-2 rounded-md bg-sky-100">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M10 16.6667C10 16.6667 17.5 13.3334 17.5 8.09508C17.5 5.00004 15.804 3.33337 13.7119 3.33337C12.7072 3.33337 11.7437 3.74726 11.0333 4.48397L10.5998 4.93351C10.2722 5.27336 9.72783 5.27336 9.40017 4.93351L8.96667 4.48397C8.25624 3.74726 7.29273 3.33337 6.28807 3.33337C4.16667 3.33337 2.5 5.00004 2.5 8.09508C2.5 13.3334 10 16.6667 10 16.6667Z" fill="#6170FF" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
               </div>
               <div class="ml-auto flex py-1 px-2 rounded-md text-white bg-green-500 text-sm">
                  <div>
                     <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_3419)">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M17 4.5C17 4.78 17.22 5 17.5 5C17.78 5 18 4.78 18 4.5V3H19.5C19.78 3 20 2.78 20 2.5C20 2.22 19.78 2 19.5 2H18V0.5C18 0.22 17.78 0 17.5 0C17.22 0 17 0.22 17 0.5V2H15.5C15.22 2 15 2.22 15 2.5C15 2.78 15.22 3 15.5 3H17V4.5ZM8.08 13.38L8.29 14H5.04C4.08 12.94 3.5 11.54 3.5 10C3.5 6.69003 6.19 4.03003 9.5 4.03003C12.81 4.03003 15.5 6.72003 15.5 10.03C15.5 11.57 14.91 12.97 13.96 14.03H9.34L9.03 13.09L10.45 12.62C10.72 12.53 10.86 12.25 10.77 11.99C10.68 11.72 10.4 11.58 10.14 11.67L8.72 12.14L8.4 11.19L10.77 10.4C11.41 10.19 11.92 9.75003 12.22 9.15003C12.52 8.55003 12.57 7.87003 12.36 7.24003C12.15 6.60003 11.71 6.09003 11.11 5.79003C10.51 5.49003 9.83 5.44003 9.2 5.65003L6.35 6.60003C6.08 6.69003 5.94 6.97003 6.03 7.23003L7.14 10.55L6.67 10.71C6.4 10.8 6.26 11.08 6.35 11.34C6.42 11.55 6.61 11.68 6.82 11.68C6.87 11.68 6.93 11.67 6.98 11.65L7.45 11.49L7.77 12.44L7.3 12.6C7.03 12.69 6.89 12.97 6.98 13.23C7.05 13.44 7.24 13.57 7.45 13.57C7.5 13.57 7.56 13.56 7.61 13.54L8.08 13.38ZM11.32 8.67003C11.5 8.31003 11.53 7.90003 11.4 7.52003C11.27 7.14003 11.01 6.83003 10.65 6.65003C10.29 6.47003 9.89 6.44003 9.51 6.57003L7.14 7.36003L8.09 10.21L10.46 9.42003C10.84 9.29003 11.15 9.03003 11.33 8.67003H11.32ZM17 17C17 17.55 16.55 18 16 18H3C2.45 18 2 17.55 2 17C2 16.45 2.45 16 3 16H16C16.55 16 17 16.45 17 17Z" fill="white"/>
                        </g>
                        <defs>
                           <clipPath id="clip0_1_3419">
                              <rect width="20" height="20" fill="white"/>
                           </clipPath>
                        </defs>
                     </svg>
                  </div>
                  <div class="ml-1">
                     Кешбэк
                  </div>
               </div>
            </div>
            <div class="mb-6">
               <div class="font-bold text-xl leading-6	">
                  13 / Свадебный Delux (Делюкс)
               </div>
               <div class="text-sm leading-4	">
                  Отель <b>De Art 13 Новокосино</b>
               </div>
            </div>
            <div class="flex flex-wrap items-center text-xs mb-4">
               <div>Большой телевизор </div>
               <svg class="mx-2" width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="2" cy="2" r="2" fill="#515561"/>
               </svg>
               <div>Круглая кровать</div>
               <svg class="mx-2" width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="2" cy="2" r="2" fill="#515561"/>
               </svg>
               <div>Джакузи</div>
            </div>
            <div>
               <div class="flex mb-2">
                  <div class="pt-1 mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.4372 14.3568C13.3835 12.8545 15.6829 10.3665 15.6829 7.34147C15.6829 4.11531 13.0676 1.5 9.84146 1.5C6.61531 1.5 4 4.11531 4 7.34147C4 10.3665 6.29941 12.8545 9.24571 14.3568C9.62007 14.5477 10.0629 14.5477 10.4372 14.3568Z" stroke="#6171FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.032 7.34131C12.032 8.55115 11.0513 9.53186 9.84143 9.53186C8.63159 9.53186 7.65088 8.55115 7.65088 7.34131C7.65088 6.1315 8.63159 5.15076 9.84143 5.15076C11.0513 5.15076 12.032 6.1315 12.032 7.34131Z" stroke="#6171FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                  </div>
                  <div class="leading-tight	text-sm">
                     Москва, ВАО, Косино-Ухтомский район,<br>
                     ул. Наташи Качуевской, д.4
                  </div>
               </div>
               <div class="flex mb-2">
                  <div class="flex mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2343 12.231H16.3397L12.6234 3H12.6203L10.1173 8.22059L7.62034 3H7.61728L3.89485 12.231H3.00024V13H8.12586V12.231H7.1087L8.29436 9.30208L10.1173 13L11.9463 9.30208L13.1259 12.231H12.1087V13H17.2343V12.231Z" fill="#F771AE"/>
                     </svg>
                  </div>
                  <div class="flex leading-tight	text-sm">
                     Улица Дмитриевского
                     <span class="px-2">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
                        </svg>
                     </span>
                     4 мин
                  </div>
               </div>
               <div class="flex mb-2">
                  <div class="flex mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2343 12.231H16.3397L12.6234 3H12.6203L10.1173 8.22059L7.62034 3H7.61728L3.89485 12.231H3.00024V13H8.12586V12.231H7.1087L8.29436 9.30208L10.1173 13L11.9463 9.30208L13.1259 12.231H12.1087V13H17.2343V12.231Z" fill="#F771AE"/>
                     </svg>
                  </div>
                  <div class="flex leading-tight	text-sm">
                     Лухмановская
                     <span class="px-2">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
                        </svg>
                     </span>
                     13 мин
                  </div>
               </div>
               <div class="flex mb-2">
                  <div class="flex mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2343 12.231H16.3397L12.6234 3H12.6203L10.1173 8.22059L7.62034 3H7.61728L3.89485 12.231H3.00024V13H8.12586V12.231H7.1087L8.29436 9.30208L10.1173 13L11.9463 9.30208L13.1259 12.231H12.1087V13H17.2343V12.231Z" fill="#BA2C8E"/>
                     </svg>
                  </div>
                  <div class="flex leading-tight	text-sm">
                     Жулебино
                     <span class="px-2">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
                        </svg>
                     </span>
                     52 мин
                  </div>
               </div>
            </div>
         </div>
         <div class="relative bg-white rounded-bl-2xl rounded-br-2xl xl:rounded-bl-none xl:rounded-tr-2xl px-4 pb-4 pt-6 mx-4 xl:mx-0 xl:w-1/6 xl:h-80 xl:pb-16 xl:flex xl:items-left xl:justify-items-start xl:justify-start	">
            <div class="flex justify-between text-center xl:flex-col xl:text-left xl:m-auto xl:w-full xl:ml-8">
               <div class="xl:mb-2">
                  <div class="text-sm xs:text-base font-bold">
                     500 ₽/час
                  </div>
                  <div class="text-xs xs:text-sm">
                     От 2х часов
                  </div>
               </div>
               <div class="xl:mb-2">
                  <div class="text-sm xs:text-base font-bold">
                     3000 ₽/ночь
                  </div>
                  <div class="text-xs xs:text-sm">
                     22:00 - 10:00
                  </div>
               </div>
               <div class="xl:mb-2">
                  <div class="text-sm xs:text-base font-bold">
                     4500 ₽/сутки
                  </div>
                  <div class="text-xs xs:text-sm">
                     14:00 - 12:00
                  </div>
               </div>
            </div>
            <div class="xl:absolute xl:bottom-4 xl:left-4 xl:right-4">
               <button class="w-full h-12 text-center bg-blue-500 text-white rounded-md mt-3 hover:bg-blue-800">
                  Забронировать
               </button>
            </div>
         </div>
      </div>
   </div>


   <div class="container mx-auto px-4">
      <div class="bnr my-6 mx-auto text-center font-bold bg-blue-500 text-white rounded-2xl xl:text-3xl">
         Рекламный блок
      </div>
   </div>

   <div class="container mx-auto px-4">
      <div class="my-4 xl:flex xl:items-center">
         <div class="relative mx-4 xl:mx-0 xl:w-1/2 h-60 xl:h-80 xl:overflow-hidden xl:rounded-bl-2xl xl:rounded-tl-2xl">
            <div class="h-full">
               <img class="w-full object-cover xl:w-full h-60 xl:h-80 rounded-tl-2xl rounded-tr-2xl xl:rounded-tr-none xl:rounded-bl-2xl overflow-hidden" src="/src/img/content/apartments/1.png" alt="img">
            </div>
            <div class="absolute bottom-0 left-0 right-0">
               <div class="pb-4 flex justify-center items-center">
                  <div class="w-8 h-0.5	bg-white mr-1 rounded"></div>
                  <div class="w-8 h-0.5	bg-blue-500 mr-1 rounded cursor-pointer	"></div>
                  <div class="w-8 h-0.5	bg-blue-500 mr-1 rounded cursor-pointer	"></div>
                  <div class="w-8 h-0.5	bg-blue-500 mr-1 rounded cursor-pointer	"></div>
               </div>
            </div>
         </div>
         <div class="bg-white rounded-2xl p-5 shadow-xl	relative z-10 xl:w-1/3 xl:pt-12 xl:h-96">
            <div class="flex mb-4">
               <div class="flex text-sm py-1 px-2 rounded-md bg-sky-100	mr-2">
                  <div class="mr-2">
                     <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 14.1667L5 16.6667L6.25 11.6667L2.5 7.5L7.91667 7.08333L10 2.5L12.0833 7.08333L17.5 7.5L13.75 11.6667L15 16.6667L10 14.1667Z" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                  </div>
                  <div>
                     <b>9.5</b> (14)
                  </div>
               </div>
               <div class="flex py-1 px-2 rounded-md bg-sky-100">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M10 16.6667C10 16.6667 17.5 13.3334 17.5 8.09508C17.5 5.00004 15.804 3.33337 13.7119 3.33337C12.7072 3.33337 11.7437 3.74726 11.0333 4.48397L10.5998 4.93351C10.2722 5.27336 9.72783 5.27336 9.40017 4.93351L8.96667 4.48397C8.25624 3.74726 7.29273 3.33337 6.28807 3.33337C4.16667 3.33337 2.5 5.00004 2.5 8.09508C2.5 13.3334 10 16.6667 10 16.6667Z" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
               </div>
               <div class="ml-auto flex py-1 px-2 rounded-md text-white bg-green-500 text-sm">
                  <div>
                     <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_3419)">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M17 4.5C17 4.78 17.22 5 17.5 5C17.78 5 18 4.78 18 4.5V3H19.5C19.78 3 20 2.78 20 2.5C20 2.22 19.78 2 19.5 2H18V0.5C18 0.22 17.78 0 17.5 0C17.22 0 17 0.22 17 0.5V2H15.5C15.22 2 15 2.22 15 2.5C15 2.78 15.22 3 15.5 3H17V4.5ZM8.08 13.38L8.29 14H5.04C4.08 12.94 3.5 11.54 3.5 10C3.5 6.69003 6.19 4.03003 9.5 4.03003C12.81 4.03003 15.5 6.72003 15.5 10.03C15.5 11.57 14.91 12.97 13.96 14.03H9.34L9.03 13.09L10.45 12.62C10.72 12.53 10.86 12.25 10.77 11.99C10.68 11.72 10.4 11.58 10.14 11.67L8.72 12.14L8.4 11.19L10.77 10.4C11.41 10.19 11.92 9.75003 12.22 9.15003C12.52 8.55003 12.57 7.87003 12.36 7.24003C12.15 6.60003 11.71 6.09003 11.11 5.79003C10.51 5.49003 9.83 5.44003 9.2 5.65003L6.35 6.60003C6.08 6.69003 5.94 6.97003 6.03 7.23003L7.14 10.55L6.67 10.71C6.4 10.8 6.26 11.08 6.35 11.34C6.42 11.55 6.61 11.68 6.82 11.68C6.87 11.68 6.93 11.67 6.98 11.65L7.45 11.49L7.77 12.44L7.3 12.6C7.03 12.69 6.89 12.97 6.98 13.23C7.05 13.44 7.24 13.57 7.45 13.57C7.5 13.57 7.56 13.56 7.61 13.54L8.08 13.38ZM11.32 8.67003C11.5 8.31003 11.53 7.90003 11.4 7.52003C11.27 7.14003 11.01 6.83003 10.65 6.65003C10.29 6.47003 9.89 6.44003 9.51 6.57003L7.14 7.36003L8.09 10.21L10.46 9.42003C10.84 9.29003 11.15 9.03003 11.33 8.67003H11.32ZM17 17C17 17.55 16.55 18 16 18H3C2.45 18 2 17.55 2 17C2 16.45 2.45 16 3 16H16C16.55 16 17 16.45 17 17Z" fill="white"/>
                        </g>
                        <defs>
                           <clipPath id="clip0_1_3419">
                              <rect width="20" height="20" fill="white"/>
                           </clipPath>
                        </defs>
                     </svg>
                  </div>
                  <div class="ml-1">
                     Кешбэк
                  </div>
               </div>
            </div>
            <div class="mb-6">
               <div class="font-bold text-xl leading-6	">
                  13 / Свадебный Delux (Делюкс)
               </div>
               <div class="text-sm leading-4	">
                  Отель <b>De Art 13 Новокосино</b>
               </div>
            </div>
            <div class="flex flex-wrap items-center text-xs mb-4">
               <div>Большой телевизор </div>
               <svg class="mx-2" width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="2" cy="2" r="2" fill="#515561"/>
               </svg>
               <div>Круглая кровать</div>
               <svg class="mx-2" width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="2" cy="2" r="2" fill="#515561"/>
               </svg>
               <div>Джакузи</div>
            </div>
            <div>
               <div class="flex mb-2">
                  <div class="pt-1 mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.4372 14.3568C13.3835 12.8545 15.6829 10.3665 15.6829 7.34147C15.6829 4.11531 13.0676 1.5 9.84146 1.5C6.61531 1.5 4 4.11531 4 7.34147C4 10.3665 6.29941 12.8545 9.24571 14.3568C9.62007 14.5477 10.0629 14.5477 10.4372 14.3568Z" stroke="#6171FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.032 7.34131C12.032 8.55115 11.0513 9.53186 9.84143 9.53186C8.63159 9.53186 7.65088 8.55115 7.65088 7.34131C7.65088 6.1315 8.63159 5.15076 9.84143 5.15076C11.0513 5.15076 12.032 6.1315 12.032 7.34131Z" stroke="#6171FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                  </div>
                  <div class="leading-tight	text-sm">
                     Москва, ВАО, Косино-Ухтомский район,<br>
                     ул. Наташи Качуевской, д.4
                  </div>
               </div>
               <div class="flex mb-2">
                  <div class="flex mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2343 12.231H16.3397L12.6234 3H12.6203L10.1173 8.22059L7.62034 3H7.61728L3.89485 12.231H3.00024V13H8.12586V12.231H7.1087L8.29436 9.30208L10.1173 13L11.9463 9.30208L13.1259 12.231H12.1087V13H17.2343V12.231Z" fill="#F771AE"/>
                     </svg>
                  </div>
                  <div class="flex leading-tight	text-sm">
                     Улица Дмитриевского
                     <span class="px-2">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
                        </svg>
                     </span>
                     4 мин
                  </div>
               </div>
               <div class="flex mb-2">
                  <div class="flex mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2343 12.231H16.3397L12.6234 3H12.6203L10.1173 8.22059L7.62034 3H7.61728L3.89485 12.231H3.00024V13H8.12586V12.231H7.1087L8.29436 9.30208L10.1173 13L11.9463 9.30208L13.1259 12.231H12.1087V13H17.2343V12.231Z" fill="#F771AE"/>
                     </svg>
                  </div>
                  <div class="flex leading-tight	text-sm">
                     Лухмановская
                     <span class="px-2">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
                        </svg>
                     </span>
                     13 мин
                  </div>
               </div>
               <div class="flex mb-2">
                  <div class="flex mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2343 12.231H16.3397L12.6234 3H12.6203L10.1173 8.22059L7.62034 3H7.61728L3.89485 12.231H3.00024V13H8.12586V12.231H7.1087L8.29436 9.30208L10.1173 13L11.9463 9.30208L13.1259 12.231H12.1087V13H17.2343V12.231Z" fill="#BA2C8E"/>
                     </svg>
                  </div>
                  <div class="flex leading-tight	text-sm">
                     Жулебино
                     <span class="px-2">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
                        </svg>
                     </span>
                     52 мин
                  </div>
               </div>
            </div>
         </div>
         <div class="relative bg-white rounded-bl-2xl rounded-br-2xl xl:rounded-bl-none xl:rounded-tr-2xl px-4 pb-4 pt-6 mx-4 xl:mx-0 xl:w-1/6 xl:h-80 xl:pb-16 xl:flex xl:items-left xl:justify-items-start xl:justify-start	">
            <div class="flex justify-between text-center xl:flex-col xl:text-left xl:m-auto xl:w-full xl:ml-8">
               <div class="xl:mb-2">
                  <div class="text-sm xs:text-base font-bold">
                     500 ₽/час
                  </div>
                  <div class="text-xs xs:text-sm">
                     От 2х часов
                  </div>
               </div>
               <div class="xl:mb-2">
                  <div class="text-sm xs:text-base font-bold">
                     4500 ₽/сутки
                  </div>
                  <div class="text-xs xs:text-sm">
                     14:00 - 12:00
                  </div>
               </div>
            </div>
            <div class="xl:absolute xl:bottom-4 xl:left-4 xl:right-4">
               <button class="w-full h-12 text-center bg-blue-500 text-white rounded-md mt-3 hover:bg-blue-800">
                  Забронировать
               </button>
            </div>
         </div>
      </div>
      <div class="my-4 xl:flex xl:items-center">
         <div class="relative mx-4 xl:mx-0 xl:w-1/2 h-60 xl:h-80 xl:overflow-hidden xl:rounded-bl-2xl xl:rounded-tl-2xl">
            <div class="h-full">
               <img class="w-full object-cover xl:w-full h-60 xl:h-80 rounded-tl-2xl rounded-tr-2xl xl:rounded-tr-none xl:rounded-bl-2xl overflow-hidden" src="/src/img/content/apartments/1.png" alt="img">
            </div>
            <div class="absolute bottom-0 left-0 right-0">
               <div class="pb-4 flex justify-center items-center">
                  <div class="w-8 h-0.5	bg-white mr-1 rounded"></div>
                  <div class="w-8 h-0.5	bg-blue-500 mr-1 rounded cursor-pointer	"></div>
                  <div class="w-8 h-0.5	bg-blue-500 mr-1 rounded cursor-pointer	"></div>
                  <div class="w-8 h-0.5	bg-blue-500 mr-1 rounded cursor-pointer	"></div>
               </div>
            </div>
         </div>
         <div class="bg-white rounded-2xl p-5 shadow-xl	relative z-10 xl:w-1/3 xl:pt-12 xl:h-96">
            <div class="flex mb-4">
               <div class="flex text-sm py-1 px-2 rounded-md bg-sky-100	mr-2">
                  <div class="mr-2">
                     <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 14.1667L5 16.6667L6.25 11.6667L2.5 7.5L7.91667 7.08333L10 2.5L12.0833 7.08333L17.5 7.5L13.75 11.6667L15 16.6667L10 14.1667Z" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                  </div>
                  <div>
                     <b>9.5</b> (14)
                  </div>
               </div>
               <div class="flex py-1 px-2 rounded-md bg-sky-100">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M10 16.6667C10 16.6667 17.5 13.3334 17.5 8.09508C17.5 5.00004 15.804 3.33337 13.7119 3.33337C12.7072 3.33337 11.7437 3.74726 11.0333 4.48397L10.5998 4.93351C10.2722 5.27336 9.72783 5.27336 9.40017 4.93351L8.96667 4.48397C8.25624 3.74726 7.29273 3.33337 6.28807 3.33337C4.16667 3.33337 2.5 5.00004 2.5 8.09508C2.5 13.3334 10 16.6667 10 16.6667Z" stroke="#6170FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
               </div>
               <div class="ml-auto flex py-1 px-2 rounded-md text-white bg-gray-500	 text-sm">
                  <div>
                     <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_3419)">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M17 4.5C17 4.78 17.22 5 17.5 5C17.78 5 18 4.78 18 4.5V3H19.5C19.78 3 20 2.78 20 2.5C20 2.22 19.78 2 19.5 2H18V0.5C18 0.22 17.78 0 17.5 0C17.22 0 17 0.22 17 0.5V2H15.5C15.22 2 15 2.22 15 2.5C15 2.78 15.22 3 15.5 3H17V4.5ZM8.08 13.38L8.29 14H5.04C4.08 12.94 3.5 11.54 3.5 10C3.5 6.69003 6.19 4.03003 9.5 4.03003C12.81 4.03003 15.5 6.72003 15.5 10.03C15.5 11.57 14.91 12.97 13.96 14.03H9.34L9.03 13.09L10.45 12.62C10.72 12.53 10.86 12.25 10.77 11.99C10.68 11.72 10.4 11.58 10.14 11.67L8.72 12.14L8.4 11.19L10.77 10.4C11.41 10.19 11.92 9.75003 12.22 9.15003C12.52 8.55003 12.57 7.87003 12.36 7.24003C12.15 6.60003 11.71 6.09003 11.11 5.79003C10.51 5.49003 9.83 5.44003 9.2 5.65003L6.35 6.60003C6.08 6.69003 5.94 6.97003 6.03 7.23003L7.14 10.55L6.67 10.71C6.4 10.8 6.26 11.08 6.35 11.34C6.42 11.55 6.61 11.68 6.82 11.68C6.87 11.68 6.93 11.67 6.98 11.65L7.45 11.49L7.77 12.44L7.3 12.6C7.03 12.69 6.89 12.97 6.98 13.23C7.05 13.44 7.24 13.57 7.45 13.57C7.5 13.57 7.56 13.56 7.61 13.54L8.08 13.38ZM11.32 8.67003C11.5 8.31003 11.53 7.90003 11.4 7.52003C11.27 7.14003 11.01 6.83003 10.65 6.65003C10.29 6.47003 9.89 6.44003 9.51 6.57003L7.14 7.36003L8.09 10.21L10.46 9.42003C10.84 9.29003 11.15 9.03003 11.33 8.67003H11.32ZM17 17C17 17.55 16.55 18 16 18H3C2.45 18 2 17.55 2 17C2 16.45 2.45 16 3 16H16C16.55 16 17 16.45 17 17Z" fill="white"/>
                        </g>
                        <defs>
                           <clipPath id="clip0_1_3419">
                              <rect width="20" height="20" fill="white"/>
                           </clipPath>
                        </defs>
                     </svg>
                  </div>
                  <div class="ml-1">
                     Без кешбэка
                  </div>
               </div>
            </div>
            <div class="mb-6">
               <div class="font-bold text-xl leading-6	">
                  13 / Свадебный Delux (Делюкс)
               </div>
               <div class="text-sm leading-4	">
                  Отель <b>De Art 13 Новокосино</b>
               </div>
            </div>
            <div class="flex flex-wrap items-center text-xs mb-4">
               <div>Большой телевизор </div>
               <svg class="mx-2" width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="2" cy="2" r="2" fill="#515561"/>
               </svg>
               <div>Круглая кровать</div>
               <svg class="mx-2" width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="2" cy="2" r="2" fill="#515561"/>
               </svg>
               <div>Джакузи</div>
            </div>
            <div>
               <div class="flex mb-2">
                  <div class="pt-1 mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.4372 14.3568C13.3835 12.8545 15.6829 10.3665 15.6829 7.34147C15.6829 4.11531 13.0676 1.5 9.84146 1.5C6.61531 1.5 4 4.11531 4 7.34147C4 10.3665 6.29941 12.8545 9.24571 14.3568C9.62007 14.5477 10.0629 14.5477 10.4372 14.3568Z" stroke="#6171FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.032 7.34131C12.032 8.55115 11.0513 9.53186 9.84143 9.53186C8.63159 9.53186 7.65088 8.55115 7.65088 7.34131C7.65088 6.1315 8.63159 5.15076 9.84143 5.15076C11.0513 5.15076 12.032 6.1315 12.032 7.34131Z" stroke="#6171FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                     </svg>
                  </div>
                  <div class="leading-tight	text-sm">
                     Москва, ВАО, Косино-Ухтомский район,<br>
                     ул. Наташи Качуевской, д.4
                  </div>
               </div>
               <div class="flex mb-2">
                  <div class="flex mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2343 12.231H16.3397L12.6234 3H12.6203L10.1173 8.22059L7.62034 3H7.61728L3.89485 12.231H3.00024V13H8.12586V12.231H7.1087L8.29436 9.30208L10.1173 13L11.9463 9.30208L13.1259 12.231H12.1087V13H17.2343V12.231Z" fill="#F771AE"/>
                     </svg>
                  </div>
                  <div class="flex leading-tight	text-sm">
                     Улица Дмитриевского
                     <span class="px-2">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
                        </svg>
                     </span>
                     4 мин
                  </div>
               </div>
               <div class="flex mb-2">
                  <div class="flex mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2343 12.231H16.3397L12.6234 3H12.6203L10.1173 8.22059L7.62034 3H7.61728L3.89485 12.231H3.00024V13H8.12586V12.231H7.1087L8.29436 9.30208L10.1173 13L11.9463 9.30208L13.1259 12.231H12.1087V13H17.2343V12.231Z" fill="#F771AE"/>
                     </svg>
                  </div>
                  <div class="flex leading-tight	text-sm">
                     Лухмановская
                     <span class="px-2">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
                        </svg>
                     </span>
                     13 мин
                  </div>
               </div>
               <div class="flex mb-2">
                  <div class="flex mr-2">
                     <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2343 12.231H16.3397L12.6234 3H12.6203L10.1173 8.22059L7.62034 3H7.61728L3.89485 12.231H3.00024V13H8.12586V12.231H7.1087L8.29436 9.30208L10.1173 13L11.9463 9.30208L13.1259 12.231H12.1087V13H17.2343V12.231Z" fill="#BA2C8E"/>
                     </svg>
                  </div>
                  <div class="flex leading-tight	text-sm">
                     Жулебино
                     <span class="px-2">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5783 1.02181C10.3334 1.08616 10.0714 1.24558 9.90132 1.43384C9.62119 1.74392 9.57115 1.87651 9.57024 2.31129C9.56918 2.77854 9.68186 3.04638 9.9957 3.32265C10.7154 3.95611 11.874 3.61503 12.1427 2.69057C12.3245 2.06537 12.011 1.38211 11.4232 1.12253C11.1834 1.01663 10.7809 0.968659 10.5783 1.02181ZM10.0772 4.24312C9.87339 4.29086 7.89735 5.46705 7.69427 5.66142C7.57278 5.77768 7.53783 5.89683 7.26899 7.11105C6.93089 8.63768 6.92483 8.761 7.1763 8.99142C7.38782 9.18528 7.60842 9.22683 7.8331 9.11516C7.92716 9.06842 8.04173 8.97858 8.08768 8.91552C8.13882 8.84539 8.26035 8.38232 8.40065 7.72309C8.52677 7.13031 8.64913 6.60078 8.67257 6.5463C8.71426 6.44934 9.12197 6.13679 9.1588 6.17357C9.16903 6.18384 9.12583 6.45929 9.06272 6.7857C8.76071 8.34764 8.70994 8.7372 8.77016 9.03017C8.83483 9.34497 8.98173 9.65326 9.1666 9.86244C9.23677 9.94183 9.63472 10.2667 10.0509 10.5843C11.1236 11.403 11.1883 11.4615 11.2388 11.658C11.2628 11.7514 11.3463 12.3953 11.4243 13.089C11.5966 14.6211 11.5871 14.5729 11.7564 14.7658C12.1285 15.1896 12.9113 15.0076 13.0464 14.4659C13.062 14.4033 13.0336 14.0009 12.9834 13.5715C12.9332 13.1422 12.8513 12.4297 12.8014 11.9883C12.7515 11.5469 12.6984 11.1238 12.6834 11.0481C12.62 10.7286 12.4555 10.5515 11.6395 9.92449C11.1963 9.58396 10.8219 9.26407 10.8074 9.21362C10.7929 9.16317 10.835 8.83296 10.9009 8.47982C10.9668 8.12668 11.0388 7.73455 11.061 7.60843C11.0832 7.48231 11.1859 6.9148 11.2891 6.34725C11.4178 5.63996 11.4676 5.25769 11.4474 5.13189C11.3787 4.70326 11.0248 4.33264 10.5967 4.24082C10.337 4.18515 10.3242 4.18519 10.0772 4.24312ZM11.4791 6.44971C11.4218 6.7591 11.3643 7.06564 11.3511 7.13091C11.3298 7.23658 11.3915 7.30464 11.9123 7.75005C12.2341 8.02532 12.6045 8.34567 12.7353 8.46203C13.0264 8.72092 13.2355 8.77485 13.4811 8.65437C13.7408 8.52697 13.8705 8.30137 13.8444 8.02207C13.825 7.81445 13.8007 7.77358 13.5766 7.57344C13.137 7.18071 11.6517 5.91188 11.6169 5.89935C11.5983 5.89266 11.5363 6.14032 11.4791 6.44971ZM8.74985 9.74104C8.66358 9.99402 7.83594 14.0745 7.83323 14.2601C7.8269 14.6927 8.12432 14.9885 8.56612 14.9888C8.82763 14.9891 9.07162 14.8575 9.19398 14.6504C9.23191 14.5862 9.43127 13.7287 9.63701 12.745C9.84275 11.7612 10.0192 10.9254 10.0292 10.8876C10.0407 10.844 9.91499 10.7209 9.68531 10.5509C9.27149 10.2447 9.01149 10.0081 8.87088 9.80984C8.79777 9.70674 8.76741 9.68949 8.74985 9.74104Z" fill="#515561"/>
                        </svg>
                     </span>
                     52 мин
                  </div>
               </div>
            </div>
         </div>
         <div class="relative bg-white rounded-bl-2xl rounded-br-2xl xl:rounded-bl-none xl:rounded-tr-2xl px-4 pb-4 pt-6 mx-4 xl:mx-0 xl:w-1/6 xl:h-80 xl:pb-16 xl:flex xl:items-left xl:justify-items-start xl:justify-start	">
            <div class="flex justify-between text-center xl:flex-col xl:text-left xl:m-auto xl:w-full xl:ml-8">
               <div class="xl:mb-2">
                  <div class="text-sm xs:text-base font-bold">
                     500 ₽/час
                  </div>
                  <div class="text-xs xs:text-sm">
                     От 2х часов
                  </div>
               </div>
               <div class="xl:mb-2">
                  <div class="text-sm xs:text-base font-bold">
                     3000 ₽/ночь
                  </div>
                  <div class="text-xs xs:text-sm">
                     22:00 - 10:00
                  </div>
               </div>
               <div class="xl:mb-2">
                  <div class="text-sm xs:text-base font-bold">
                     4500 ₽/сутки
                  </div>
                  <div class="text-xs xs:text-sm">
                     14:00 - 12:00
                  </div>
               </div>
            </div>
            <div class="xl:absolute xl:bottom-4 xl:left-4 xl:right-4">
               <button class="w-full h-12 text-center bg-blue-500 text-white rounded-md mt-3 hover:bg-blue-800">
                  Забронировать
               </button>
            </div>
         </div>
      </div>
   </div>


   <div class="container mx-auto px-4 mt-8 mb-12">
      <div class="text-center">
         <div class="text-xs xs:text-sm">
            Показано 20 из 250
         </div>
         <div class="flex justify-center">
            <button class="flex items-center h-12 px-4 text-center bg-red-600 text-white rounded-md mt-3 hover:bg-red-800">
               <span class="mr-2">
                  <svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M8.40171 0.957952C8.51113 0.684252 8.30954 0.386536 8.01479 0.386536H3.09722C2.91787 0.386536 2.75865 0.501294 2.70193 0.671444L0.479709 7.33812C0.389776 7.60795 0.590592 7.88654 0.874992 7.88654H3.09658C3.36765 7.88654 3.56655 8.14129 3.5008 8.40429L2.32841 13.0938C2.22592 13.5038 2.72845 13.7883 3.02727 13.4895L10.419 6.09787C10.6815 5.83537 10.4955 5.38654 10.1243 5.38654H7.24563C6.95088 5.38654 6.74929 5.08882 6.85879 4.81513L8.40171 0.957952Z" fill="white"/>
                  </svg>
               </span>
               <span>
                  Показать ещё горящие предложения
               </span>
            </button>
         </div>
      </div>
   </div>


   <div class="container mx-auto px-4">
      <div class="py-4 xl:flex">
         <div class="xl:w-1/3 pr-2">
            <h3 class="font-bold mb-4">
               Сервис бронирования отелей GoRooms
            </h3>
            <div class="text-xs xs:text-sm">
               <p class="mb-4">
                  Это удобный сервис бронирования отелей, платформа, которая позволяет выбрать свой подходящий вариант для заселения среди большого списка гостиниц. Она позволяет легко видеть тенденции выбора на панели управления со всей ценной информацией, такой как самые популярные номера, избранные, фильтры, тенденции поиска, проверка в часы пик бронирования и т.д. Все номера в одном сервисе помогают сэкономить время на поиски и убирает потребность в созвоне с ресепшеном отеля благодаря удобной форме заявки.               </p>
            </div>

            <h3 class="font-bold mb-4">
               Выбирайте проверенный сервис
            </h3>
            <div class="text-xs xs:text-sm">
               <p class="mb-4">
                  Благодаря нашей платформе забронировать отель в Москве просто. У нас есть моментальное онлайн резервирование с мгновенным подтверждением.
               </p>
            </div>

         </div>
         <div  class="xl:w-1/3 px-2">
            <h3 class="font-bold mb-4">
               Ряд преимуществ нашего сайта:
            </h3>
            <div class="text-xs xs:text-sm">
               <ul>
                  <li class="flex mb-2">
                     <div class="mr-2">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="8" cy="8" r="8" fill="white"/>
                           <path d="M11.3838 7.66113V8.85059H4.56152V7.66113H11.3838ZM8.6084 4.75586V12.002H7.34375V4.75586H8.6084Z" fill="#515561"/>
                        </svg>
                     </div>
                     <div>
                        Благодаря нашей платформе забронировать отель в Москве просто. У нас есть моментальное онлайн резервирование с мгновенным подтверждением.
                     </div>
                  </li>
                  <li class="flex mb-2">
                     <div class="mr-2">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="8" cy="8" r="8" fill="white"/>
                           <path d="M11.3838 7.66113V8.85059H4.56152V7.66113H11.3838ZM8.6084 4.75586V12.002H7.34375V4.75586H8.6084Z" fill="#515561"/>
                        </svg>
                     </div>
                     <div>
                        Широкий ценовой диапазон, благодаря чему вы найдёте вариант, подходящий под ваш бюджет.
                     </div>
                  </li>
                  <li class="flex mb-2">
                     <div class="mr-2">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="8" cy="8" r="8" fill="white"/>
                           <path d="M11.3838 7.66113V8.85059H4.56152V7.66113H11.3838ZM8.6084 4.75586V12.002H7.34375V4.75586H8.6084Z" fill="#515561"/>
                        </svg>
                     </div>
                     <div>
                        Апартаменты размещены по удобным категориям.
                     </div>
                  </li>
                  <li class="flex mb-2">
                     <div class="mr-2">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="8" cy="8" r="8" fill="white"/>
                           <path d="M11.3838 7.66113V8.85059H4.56152V7.66113H11.3838ZM8.6084 4.75586V12.002H7.34375V4.75586H8.6084Z" fill="#515561"/>
                        </svg>
                     </div>
                     <div>
                        Есть возможность найти гостиницы в Москве рядом с метро и по районам.
                     </div>
                  </li>
                  <li class="flex mb-2">
                     <div class="mr-2">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="8" cy="8" r="8" fill="white"/>
                           <path d="M11.3838 7.66113V8.85059H4.56152V7.66113H11.3838ZM8.6084 4.75586V12.002H7.34375V4.75586H8.6084Z" fill="#515561"/>
                        </svg>
                     </div>
                     <div>
                        Снимайте номер в любой момент на час, на несколько часов или на сутки.
                     </div>
                  </li>
                  <li class="flex mb-2">
                     <div class="mr-2">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="8" cy="8" r="8" fill="white"/>
                           <path d="M11.3838 7.66113V8.85059H4.56152V7.66113H11.3838ZM8.6084 4.75586V12.002H7.34375V4.75586H8.6084Z" fill="#515561"/>
                        </svg>
                     </div>
                     <div>
                        Используйте фильтры по ценам, геопозициям, количеству звёзд и дополнительным удобствам.
                     </div>
                  </li>
                  <li class="flex mb-2">
                     <div class="mr-2">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="8" cy="8" r="8" fill="white"/>
                           <path d="M11.3838 7.66113V8.85059H4.56152V7.66113H11.3838ZM8.6084 4.75586V12.002H7.34375V4.75586H8.6084Z" fill="#515561"/>
                        </svg>
                     </div>
                     <div>
                        Возможность брони 24/7.
                     </div>
                  </li>

               </ul>
            </div>
         </div>
         <div  class="xl:w-1/3 pl-2">
            <h3 class="font-bold mb-4">
               Почему мы — самый надёжный вариант
            </h3>
            <div class="text-xs xs:text-sm">
               <p class="mb-4">
                  Мы предлагаем широкий каталог гостиниц Москвы на карте метро. Наш сервис надёжен благодаря возможности отмены резервирования в течении 24 часов до размещения. Обеспечивает гарантию того, что оплату вы вносите только при заселении. У нас всегда честные отзывы от клиентов. С помощью нашего сайта вы можете выбрать оптимальное место отдыха, располагающиеся рядом с вами. У нас только уникальные предложения, скидки и акции. Вы можете найти отели по опциям дополнительных услуг по типу автопроката. При возникновении вопросов — пишите в техническую поддержку. Наши менеджеры помогут вам с выбором. Ждём именно вас!
               </p>
            </div>
         </div>
      </div>
   </div>
   <!-- /.container -->

{% endblock %}
