// ====== Placeholder ======
$placeholder-color: #727379;

// ===== sticky-footer =====
$sticky-footer: false;
$footer-height: 0;
//$base-font-size: '16px';

// === text-margin-reset ===
$text-margin-reset: true;
